{% extends "base.html" %} {% block content %}
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
  "
>
  <h2 style="font-size: 2.5em">Welcome to the F1 Database</h2>
  <p style="font-size: 1.5em">
    Explore circuits, races, constructors, and more.
  </p>
  <p style="font-size: 1.2em; margin-top: 30px">
    Made by Vishruth Devan (vd2461) and Vishesh Arora (vpa2112)
  </p>
</div>
{% endblock %}
