{% extends "base.html" %}
{% block content %}
<h2>F1 Races</h2>
<div class="table-responsive">
  <table class="table table-striped table-dark table-hover">
    <thead>
      <tr>
        <th>Race Name</th>
        <th>Date</th>
        <th>Results</th>
      </tr>
    </thead>
    <tbody>
      {% for race in races %}
      <tr onclick="window.location='/races/{{ race.id }}';" style="cursor: pointer">
        <td>{{ race.name }}</td>
        <td>{{ race.date }}</td>
        <td>
          <a href="{{ url_for('race_results.race_results', race_id=race.id) }}" class="btn btn-primary btn-sm">Race
            Results</a>
          <a href="{{ url_for('qualifying_results.qualifying_results', race_id=race.id) }}"
            class="btn btn-secondary btn-sm">Qualifying Results</a>
          <a href="{{ url_for('sprint_results.sprint_results', race_id=race.id) }}"
            class="btn btn-success btn-sm">Sprint Results</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}